#titulo{
	
	background-color: cyan;
	font-family: arabic;
	font-style: italic;
	position: absolute;
	left: 350px;
	width: 250px;
		
}

body{
	
	background-color: orange;
	
}

a:link{
	text-decoration: none;
	color: green;
}

a:visited{
	color: red;
}

a:active{
	color: blue;
}

a:hover{
	color: blue;
}

#CREDITS{

font-size: 5px;
font-style: italic;
}


