#titulo4{
	
	background-color: cyan;
	font-family: arabic;
	font-style: italic;
	position: absolute;
	left: 350px;
	width: 250px;
		
}

body{
	
	background-color: orange;
	
}

#biomolecula{
	
	border-radius: 4px;
	border-color: brown;
}

#glucidos1{
	
	background-color: gray;
	border-radius: 4px;
	border-color: cyan;
	color: blue;
	margin-left: 5px;
}

#lipidos1{
	
	background-color: gray;
	border-radius: 4px;
	border-color: cyan;
	color: blue;
	margin-left: 14px;
}

#proteinas1{
	
	background-color: gray;
	border-radius: 4px;
	border-color: cyan;
	color: blue;
}

#boton{
	
	background-color: gray;
	border-radius: 4px;
	border-color: gray;
	color: cyan;
	font-style: italic;
}