#titulo5{
	
	background-color: cyan;
	font-family: arabic;
	font-style: italic;
	position: absolute;
	left: 350px;
	width: 250px;
		
}

body{
	
	background-color: orange;
	
}

#RED{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
}

#KCALALIMENTO{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 49px;
}

#boton{
	
	background-color: gray;
	border-radius: 4px;
	border-color: gray;
	color: cyan;
	font-style: italic;
}