#titulo2{
	
	background-color: cyan;
	font-family: arabic;
	font-style: italic;
	position: absolute;
	left: 350px;
	width: 250px;
		
}

body{
	
	background-color: orange;
	
}

#alturacm{
	
	border-radius: 4px;
	border-color: brown;
	background-color: gray;
	color: blue;
	
}

#pesokg{
	
	margin-left: 15px;
	border-radius: 4px;
	border-color: brown;
	background-color: gray;
	color: blue;
	
	
}

#edad{
	
	margin-left: 57px;
	border-radius: 4px;
	border-color: brown;
	background-color: gray;
	color: blue;
	
	
}

#peoplegenero{
	
	border-color: brown;
	border-radius: 4px;
	
}

#boton{
	
	background-color: gray;
	border-color: gray;
	border-radius: 4px;
	color: cyan;
	
	
}