#titulo3{
	
	background-color: cyan;
	font-family: arabic;
	font-style: italic;
	position: absolute;
	left: 350px;
	width: 250px;
		
}

body{
	
	background-color: orange;
	
}

#listadeactividades{
	
	color: purple;
}

#GER_HORA{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	
}

#actividad1{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor1{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad2{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor2{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad3{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor3{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad4{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor4{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad5{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor5{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad6{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor6{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad7{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor7{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad8{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor8{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}


#actividad9{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}
#factor9{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 10px;
}

#actividad10{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-width: 2px;
}
#factor10{
	
	background-color: gray;
	border-radius: 4px;
	border-color: brown;
	color: blue;
	margin-left: 5px;
}

#boton{
	
	background-color: gray;
	border-radius: 4px;
	border-color: gray;
	color: cyan;
	margin-left: 50px;
}


